*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#090909;
    color:#fff;

    font-family:Inter,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    padding:40px;

    overflow:hidden;

}

body::before{

    content:"";

    position:fixed;

    width:600px;
    height:600px;

    left:-200px;
    top:-200px;

    background:radial-gradient(circle,#b67b1525 0%,transparent 70%);

}

.container{

    width:100%;
    max-width:620px;

    position:relative;
    z-index:5;

}

.small{

    color:#888;

    font-size:15px;

    letter-spacing:3px;

    text-transform:uppercase;

}

h1{

    margin-top:15px;

    font-size:48px;

    line-height:1.15;

}

.description{

    margin-top:25px;

    color:#b9b9b9;

    font-size:20px;

    line-height:1.8;

}

.terminal{

    margin-top:45px;

    background:#121212;

    border:1px solid #242424;

    border-radius:14px;

    padding:28px;

    font-family:"JetBrains Mono", monospace;

    font-size:16px;

    line-height:2;

}

.yellow{

    color:#f0b63c;

}

.green{

    color:#72db7d;

}

.blue{

    color:#63b6ff;

}

.progress{

    color:white;

    letter-spacing:2px;

}

.back{

    display:inline-block;

    margin-top:45px;

    color:#999;

    text-decoration:none;

    transition:.3s;

}

.back:hover{

    color:white;

}